<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h2>Login</h2>

<div th:if="${param.error}">
    <p style="color:red;">Invalid username or password.</p>
</div>

<form th:action="@{/login}" method="post">
    <label>Username:</label>
    <input type="text" name="username" required><br><br>

    <label>Password:</label>
    <input type="password" name="password" required><br><br>

    <button type="submit">Login</button>
</form>

<p>New user? <a th:href="@{/register}">Create an account</a></p>

</body>
</html>
